*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background:black;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#moveup {
	display: none;
	width: 5%;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	cursor: pointer;
}

/* Color schemes */
.demo-adsila {
	--color-text: #000;
	--color-background: #4520f3;
	--color-link: #fff;
	--color-link-hover: #000;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	padding: 3em 2em;
	flex-direction: column;
}
/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 2.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}

/* About section css */

#about {
	background: #ea506d;
	background-image: url(../fonts/react-brands.svg), url(../fonts/angular-brands.svg), url(../fonts/ember-brands.svg), url(../fonts/css3-alt-brands.svg), url(../fonts/Git-logo.svg), url(../fonts/node-brands.svg), url(../fonts/html5-brands.svg), url(../fonts/js-brands.svg) ;
	background-repeat: no-repeat;
	background-position: 0% 0%, 50% 0%, 100% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 50%, 100% 100%;
	background-size: 8%;
	animation: about 4s linear infinite;
	animation-direction: alternate;
}

@keyframes about {
	from { background-position: 0% 0%, 50% 0%, 100% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 50%, 100% 100%; }
	to { background-position: 0% 50%, 0% 0%, 50% 0%, 0% 100%, 50% 100%, 100% 100%, 100% 0%, 100% 50%; }
}

.intro1 {
	font-weight: 900;
	font-size: 3.5em;
}

.intro1 .letter {
	display: inline-block;
	line-height: 1em;
	font-family: 'Alegreya', serif;
}

p.intro2 {
  position: relative;
  font-weight: 700;
  font-size: 1.2em;
}
.intro2 .text-wrapper {
	display: block;
	padding-left: 10em;
    padding-right: 10em;
	overflow: hidden;
	text-align: justify;
	color:darkmagenta;
}
.intro2 .letters {
	font-family: 'Roboto Slab', serif;
}

.letters span {
	opacity: 0;
}

/* Skills section CSS */

#skills {
	background-color: #45383c;
	padding-top: 0;
}

.skillList {
	position: relative;
	color: #fff;
}

.skillList .lists {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
}

.lists span {
	transform-origin: 0 100%;
  	display: inline-block;
  	line-height: 1em;
}
.react {
	width: 15%;
	height: 5%;
	position: absolute;
    top: 4%;
    right: 105%;
}
.angular, .ember, .javascript, .html, .css, .sass, .jasmine, .jest, .git, .gulp {
	width: 15%;
	height: 5%;
	position: absolute;
	right: 105%;
}

/* Work experience */
#workexperience {
	background-color:#638a50;
}

.acc, .cts {
	border: 1px solid red;
    border-radius: 25px;
	padding: 10px 35px 10px 35px;
	margin: 5px;
	display: none;
}

.acc h1, .cts h1{
	text-align: center;
}
.acc p, .cts p {
	display: list-item;
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
}

@media screen and (max-width: 50em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
}