*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background:black;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-adsila {
	--color-text: #000;
	--color-background: #4520f3;
	--color-link: #fff;
	--color-link-hover: #000;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	padding: 3em 2em;
}
/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 2.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}

/* About section css */

#about {
	background: white;
	background-image: url(../fonts/react-brands.svg), url(../fonts/angular-brands.svg), url(../fonts/ember-brands.svg), url(../fonts/css3-alt-brands.svg), url(../fonts/git-brands.svg), url(../fonts/node-brands.svg), url(../fonts/html5-brands.svg), url(../fonts/js-brands.svg) ;
	background-repeat: no-repeat;
	background-position: 0% 0%, 50% 0%, 100% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 50%, 100% 100%;
	background-size: 8%;
	animation: about 4s linear infinite;
}

@keyframes about {
	from { background-position: 0% 0%, 50% 0%, 100% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 50%, 100% 100%; }
	to { background-position: 0% 10%, 50% 10%, 100% 10%, 10% 50%, 10% 100%, 60% 100%, 100% 60%, 90% 90%; }
}

@media screen and (max-width: 50em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
}