*,
*::after,
*::before {
	box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

html {
	background:black;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#moveup {
	display: none;
	width: 5%;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 99;
	cursor: pointer;
}

.text {
	fill: none;
	stroke-width: 6;
	stroke-linejoin: round;
	stroke-dasharray: 70 330;
	stroke-dashoffset: 0;
	-webkit-animation: stroke 6s infinite linear;
	animation: stroke 6s infinite linear;
  }
  
  .text:nth-child(5n + 1) {
	stroke: #F2385A;
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
  }
  .text:nth-child(5n + 2) {
	stroke: #F5A503;
	-webkit-animation-delay: -2.4s;
	animation-delay: -2.4s;
  }
  
  .text:nth-child(5n + 3) {
	stroke: #E9F1DF;
	-webkit-animation-delay: -3.6s;
	animation-delay: -3.6s;
  }
  
  .text:nth-child(5n + 4) {
	stroke: #56D9CD;
	-webkit-animation-delay: -4.8s;
	animation-delay: -4.8s;
  }
  
  .text:nth-child(5n + 5) {
	stroke: #3AA1BF;
	-webkit-animation-delay: -6s;
	animation-delay: -6s;
  }
  
  @-webkit-keyframes stroke {
	100% {
	  stroke-dashoffset: -400;
	}
  }
  
  @keyframes stroke {
	100% {
	  stroke-dashoffset: -400;
	}
  }
  
  /* Other styles */  
  .welcome {
	background: #111;
	background-size: .2em 100%;
	font: 9em/1 Open Sans, Impact;
	text-transform: uppercase;
	margin: 0;
  }
  
  svg {
	position: absolute;
	width: 100%;
	height: 100%;
  }

  .downArrow {
	  color: white;
	  position: absolute;
	  bottom: 0;
  }
  .downArrow:hover {
	  color: #638a50;
  }

/* Color schemes */
.demo-adsila {
	--color-text: #000;
	--color-background: #4520f3;
	--color-link: #fff;
	--color-link-hover: #000;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	padding: 3em 2em;
	flex-direction: column;
}
/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 2.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}

/* About section css */

#about {
	background: #ea506d;
	background-image: url(../fonts/react-brands.svg), url(../fonts/angular-brands.svg), url(../fonts/ember-brands.svg), url(../fonts/css3-alt-brands.svg), url(../fonts/Git-logo.svg), url(../fonts/node-brands.svg), url(../fonts/html5-brands.svg), url(../fonts/js-brands.svg) ;
	background-repeat: no-repeat;
	background-position: 0% 0%, 50% 0%, 100% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 50%, 100% 100%;
	background-size: 8%;
	animation: about 4s linear infinite;
	animation-direction: alternate;
}

@keyframes about {
	from { background-position: 0% 0%, 50% 0%, 100% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 50%, 100% 100%; }
	to { background-position: 0% 50%, 0% 0%, 50% 0%, 0% 100%, 50% 100%, 100% 100%, 100% 0%, 100% 50%; }
}

.intro1 {
	font-weight: 900;
	font-size: 3.5em;
}

.intro1 .letter {
	display: inline-block;
	line-height: 1em;
	font-family: 'Alegreya', serif;
}

p.intro2 {
  position: relative;
  font-weight: 700;
  font-size: 1.2em;
}
.intro2 .text-wrapper {
	display: block;
	padding-left: 10em;
    padding-right: 10em;
	overflow: hidden;
	text-align: justify;
	color:darkmagenta;
}
.intro2 .letters {
	font-family: 'Roboto Slab', serif;
}

.letters span {
	opacity: 0;
}

/* Skills section CSS */

#skills {
	background-color: #45383c;
	padding-top: 0;
}

.skillList {
	position: relative;
	color: #fff;
}

.skillList .lists {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
}

.lists span {
	transform-origin: 0 100%;
  	display: inline-block;
  	line-height: 1em;
}
.react {
	width: 15%;
	height: 5%;
	position: absolute;
    top: 4%;
    right: 105%;
}
.angular, .ember, .javascript, .html, .css, .sass, .jasmine, .jest, .git, .gulp {
	width: 15%;
	height: 5%;
	position: absolute;
	right: 105%;
}

/* Work experience */
#workexperience {
	background-color:#638a50;
}

.acc, .cts {
	border: 1px solid red;
    border-radius: 25px;
	padding: 10px 35px 10px 35px;
	margin: 5px;
	display: none;
	width: 80%;
}

.acc h1, .cts h1{
	text-align: center;
}
.acc p, .cts p {
	display: list-item;
	color: aliceblue;
	font-family: 'Roboto Slab', serif;
}

#contact {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	height: 100vh;
    background-color: whitesmoke;
}
#map {
	height: 100%;
}
.contact-content {
	position: absolute;
	top: 200px;
	right: 200px;
}

.contact-address {
	background: #337ab7;
	padding: 6%;
	border-radius: 4%;
	color: #FFF;
	font-size: 1vw;
	width: 15vw;
    height: 16vh;
}

.contact-address ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.contact-address ul li {
	margin-bottom: 7%;
}

.contact-address .fab {
	font-size: 2.5vw;
	margin-right: 5px;
}
.contact-address ul a {
	color: #fff;
}

.social-icons {
	margin-top: 8%;
	text-align: center;
}

@media screen and (max-width: 50em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
}
@media (min-width: 1281px) and (max-width: 1920px) {
	.contact-address { height: 20vh;}
	.contact-address .fab { font-size: 1.5vw; }
}